## --- .NET / Visual Studio ---
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.user
*.sln.docstates

## --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/

## --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

## --- Variables de Entorno (SEGURIDAD) ---
.env
appsettings.Development.json
appsettings.Local.json
*.secret